[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
