[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third_party/GKlib"]
	path = third_party/GKlib
	url = https://github.com/KarypisLab/GKlib.git
[submodule "third_party/metis"]
	path = third_party/metis
	url = https://github.com/KarypisLab/METIS.git
[submodule "third_party/cnpy"]
	path = third_party/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "third_party/span"]
	path = third_party/span
	url = https://github.com/tcbrindle/span.git
